:root {
  --color-primary: #FFFFFF;
  --color-bg: #008BFE;
  --border-radius-button: 100px;
  --font: "Roboto", sans-serif;
}

body {
  font-family: var(--font), sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  color: var(--color-primary);


  display: grid;
  place-items: center;
  min-height: 100vh;
}
